.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.left-content-col, .right-content-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.content-header {
    text-align: center;
}

