.footer-wrapper {
    background-color: #EAEAEA;
    padding: 10px;
    color: black;
    font-weight: bold;
}

.footer-content {
    padding: 20px;
    line-height: 3em;
    display: block;
}

.footer-content ul {
    text-align: center;
    margin: 0;
    display: flex;
}

.footer-content ul li {
    padding: 20px;
    line-height: 3em;
    display: block;
    list-style: none;
}

.footer-content ul li a {
    text-decoration: none;
}

.footer-content ul li:hover {
    background-color: rgb(189, 37, 3);
}

.footer-link-right {
    float: right;
}