.header {
    /* margin-top: 110px; */
    background: #42416E;
    /* padding: 0.1px; */
}

.header h3 {
    margin: 0px;
    font-size: 215px;
    /* -webkit-text-stroke-width: 1px; */
    -webkit-text-stroke-color: black;
    font-family: 'Outward';
    color: #EAEAEA;
    text-align: center;
    letter-spacing: 30px;
}

@font-face {
    font-family: 'Outward';
    src: url(/public/Akira-Expanded-Demo.otf);
    font-weight: normal;
    font-style: normal;
}
