.header {
    margin-top: 110px;
    background: #42416E;
    padding: 0.5px;
}

.header h3 {
    margin: auto;
    font-size: 200px;
    /* -webkit-text-stroke-width: 1px; */
    -webkit-text-stroke-color: black;
    font-family: 'Outward';
    color: #EAEAEA;
    text-align: center;
    letter-spacing: 10px;
}

@font-face {
    font-family: 'Outward';
    src: url(/public/Akira-Expanded-Demo.otf);
    font-weight: normal;
    font-style: normal;
}
