.navbar {
    background-color: #EAEAEA;
    padding: 10px;
    color: black;
    font-weight: bold;
}

.navbar ul {
    text-align: center;
    margin: 0;
    display: flex;
}

.navbar ul li {
    padding: 20px;
    line-height: 3em;
    display: block;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
}

.navbar ul li:hover {
    background-color: rgb(189, 37, 3);
}