.header {
    /* background: #42416E; */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(66,65,110,1) 50%, rgb(2,0,36,1) 90%);
}

.header h3 {
    margin: 0px;
    font-size: 215px;
    /* -webkit-text-stroke-width: 1px; */
    -webkit-text-stroke-color: black;
    font-family: 'Outward';
    color: #EAEAEA;
    text-align: center;
    letter-spacing: 30px;
}

@font-face {
    font-family: 'Outward';
    src: url(/public/Akira-Expanded-Demo.otf);
    font-weight: normal;
    font-style: normal;
}

.hidden-element {
    padding-bottom: 110px;
}