.navbar-nobootstrap {
  background-color: #eaeaea;
  /* padding: 20px; */
  color: black;
  font-weight: bold;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar-nobootstrap ul {
  text-align: center;
  margin: 0;
  display: flex;
  align-content: space-between;
}

.navbar-nobootstrap ul li {
  /* padding: 20px; */
  /* line-height: 10em; */
  display: flex;
  list-style: none;
}

.navbar-nobootstrap ul li a,
.nav-username {
  text-decoration: none;
  padding: 45px;
  color: #42416e;
}

.navbar-nobootstrap ul li:hover {
  background-color: #cec3fa;
}

.hidden-element {
  padding-bottom: 110px;
}

.hidden-element p {
  margin: 0;
  padding: 0;
}

li.nav-link-right {
  margin-left: auto;
}

.profile-icon {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}
